<li *ngIf="!deleted" class="col-span-1 relative flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
    <div *ngIf="deleting" class="top-0 left-0 bottom-0 right-0 absolute bg-gray-600 z-20 opacity-50 rounded-lg"></div>
    <div class="flex flex-1 flex-col p-8 relative">
    <span *ngIf="!pure" class="absolute left-8 text-6xl opacity-5">{{ id }}</span>
    <img class="mx-auto h-32 w-32 z-10 flex-shrink-0 rounded-full object-cover" src="https://hbr.org/resources/images/article_assets/2014/02/Feb14_02_108315569.jpg" alt="">
    <h3 class="mt-6 text-sm font-medium text-gray-900">{{ title | ellipse:20 }}</h3>
    <dl class="mt-1 flex flex-grow flex-col justify-between">
        <dd class="text-sm text-gray-500">{{ body | ellipse:55 }}</dd>
    </dl>
    </div>
    <div>
    <div *ngIf="!pure" class="-mt-px flex divide-x divide-gray-200">
        <div class="flex w-0 flex-1">
        <a [routerLink]="'edit/'+id" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>              
            Edit
        </a>
        </div>
        <div class="-ml-px flex w-0 flex-1">
        <button (click)="handleDelete()" class="relative text-red-500 inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>              
            Delete
        </button>
        </div>
    </div>
    </div>
</li>