<div class="grid grid-cols-2">
    <form (ngSubmit)="handleSubmit(form.value)" #form="ngForm">
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Create a post</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">This post will be available publicly so be careful what you share.</p>
      
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 px-4 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <input [disabled]="loading" [ngModel]="post?.title" #title="ngModel" required type="text" name="title" id="title" autocomplete="title" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 disabled:opacity-40 focus:ring-0 sm:text-sm sm:leading-6" placeholder="New post title">
                  </div>
                </div>
              </div>
      
              <div class="col-span-full">
                <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Body</label>
                <div class="mt-2">
                  <textarea [disabled]="loading" [ngModel]="post?.body" ngModel required #body="ngModel" id="about" name="body" rows="3" class="block w-full disabled:opacity-40 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
                <p *ngIf="!body.value" class="mt-3 text-sm leading-6 text-gray-600">Write a few sentences.</p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <a routerLink="/learning/http" type="button" class="text-sm cursor-pointer font-semibold leading-6 text-gray-900">Cancel</a>
          <button type="submit" [disabled]="!form.valid || loading" class="button !w-fit !px-8">{{ loading ? 'Loading...' : 'Save'}}</button>
        </div>
    </form>
    <div class="px-16">
        <app-learning-http-post *ngIf="form.touched || !!post" [pure]="!post?.id" [id]="post?.id || 0" [title]="title.value" [body]="body.value"></app-learning-http-post>
    </div>
</div>