<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Our team shares a common vision of helping businesses around the globe make an impact by powering their software engineering initiatives. We foster knowledge-sharing culture and cumulative innovation to deliver proven results for our clients.</p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li *ngFor="let member of people">
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" [src]="member.avatar" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{{ member.name }}</h3>
              <p class="text-sm font-semibold leading-6 text-primary">{{ member.role }}</p>
            </div>
          </div>
        </li>
  
        <!-- More people... -->
      </ul>
    </div>
  </div>
  