<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <!-- Sidebar component -->
    <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4">
        <div class="flex h-16 shrink-0 items-center">
        <img class="h-24 mt-6 w-auto" src="https://avatars.githubusercontent.com/u/5629232" alt="Akvelon">
        </div>
        <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
            <li>
            <ul role="list" class="-mx-2 space-y-1">
                <li *ngFor="let item of menu">
                    <a [routerLink]="item.path" [routerLinkActiveOptions]="{ exact: item.path === '/' }" routerLinkActive="bg-gray-50 text-primary" class="text-gray-700 cursor-pointer hover:text-primary hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                        <app-sidebar-icon [exact]="item.path === '/'" [icon]="item.icon"></app-sidebar-icon>
                        {{ item.title }}
                    </a>
                </li>
            </ul>
            </li>

            <li class="mt-auto">
            <a routerLink="/settings" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="bg-gray-50 text-primary" class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-primary">
                <app-sidebar-icon icon="settings"></app-sidebar-icon>
                Settings
            </a>
            </li>
        </ul>
        </nav>
    </div>
</div>